{% extends "manager/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-4">LOGIN STUDENT</h2>
        <div class="row mt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'studentLogin' %}">
                    {% csrf_token %}
                    <table>
                    {{form|crispy}}

                    <input type="submit" class="btn btn-block btn-success" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}